.content__text {
    font-family: "PT Sans";
    font-size: 24px;
    color: #a1a1a1;
    text-decoration: none;
    margin-right: 57px;
}

.content__text:last-child {
    margin-right: 0;
}
@media screen and (max-width: 650px) {
    .content__text {
        display: none;
    }
}
