@import url(./blocks/home/home.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/content/content.css);
@import url();

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
